.income {
  .content {
    .header {
      background-color: #363b51;
      min-height: 350px;
      height: auto;
    }

    .swiper-container {
      width: 100%;
    }

    .Childtitle{
      margin: 0;
      height: 50px;
      width: 100%;
      text-align: center;
      border-bottom: #fff ridge 1px;
    }

    .title {
      margin: 0;
      height: 50px;
      width: 100%;
      text-align: center;
      border-top: #fff ridge 1px;
      border-bottom: #fff ridge 1px;
    }

    .tableMain {
      width: 100%;
      text-align: center;
      margin: auto;
      margin-top : 5%;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      cursor: default;
      table-layout: fixed;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    }
    .tbTitle > th {
      font-weight: 300;
      text-align: center;
      padding: 5px 0 5px 0;
      font: 15px "微软雅黑", Arial, Helvetica, sans-serif;
      background-color: rgba(0, 93, 93, 0.8);
      color: #efefef;
      text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
    }
    th, td {
    }
    .tbContext:hover {
      background-color: rgba(0, 99, 99, 0.9) !important;
    }
    td, td > a {
      font: 13px "微软雅黑", Arial, Helvetica, sans-serif;
      text-align: center;
      padding: 6px 0 6px 0;
      color: rgba(127, 255, 255, 0.75);
      text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
    }
    .tbContext:nth-child(2n 1) {
      background-color: rgba(0, 127, 127, 0.1);
    }

    .bottom-contain {
      width: 100%;
      height: auto;
      .bottom-nav {
        line-height: 40px;
        height: 55px;
        .tablist {
          cursor: pointer;
          color: #8f9ea8;
          line-height: 30px;
          text-align: center;
        }
      }
      .bottom-left {
        border-right: #fff dashed 1px;
        height: 100%;
      }
      .bottom-left{
        padding-left : 0;
      }
      .bottom-right {
        padding-right : 0;
      }
      .left-contain {
        height: 100%;
      }
    }

    .active-index {
      color: white !important;
    }

    .circle {
      height: 300px;
    }

    .bar {
      width: 80%;
      height: 350px;
    }
  }
}
